<div class="timeline">
  <slot />
</div>

<style>
  .timeline {
    background-image: url("/img/lightgrey.png");
    background-repeat: repeat-y;
    background-position: center;
    padding: 0.25rem 0;
    position: relative;
  }
</style>
