---
import BlogLayout from "../layouts/BlogLayout.astro"
---

<BlogLayout title="404: Not Found">
  <h1>
    <span id="not-found-heading">Page Not Found</span>
    <span role="img" aria-labelledby="not-found-heading">🤷‍♂️</span>
  </h1>
</BlogLayout>
